/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroTitle {
  color: var(--ifm-color-emphasis-900);
}

.heroSubtitle {
  color: var(--ifm-color-emphasis-700);
}

[data-theme='dark'] .heroTitle {
  color: var(--ifm-color-emphasis-100);
}

[data-theme='dark'] .heroSubtitle {
  color: var(--ifm-color-emphasis-300);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
